* {  box-sizing: border-box;
    body {
        background-image: url(./Imagenes/fondo1.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    


h1{
    font-size: 130px;
    font-weight:900;
  font-family: "Spicy Rice", serif;
  font-weight: 1200;
  font-style: normal;
  background: #ccc;
  background: linear-gradient(90deg,rgb(10, 48, 104),rgb(156, 175, 236),rgb(18, 66, 139) );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 50px;

}

h2{
    font-size: 130px;
    font-weight:900;
  font-family: "Spicy Rice", serif;
  font-weight: 1200;
  font-style: normal;
  background: #ccc;
  background: linear-gradient(90deg,rgb(104, 10, 10),rgb(230, 136, 136),rgb(104, 10, 10) );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 50px;
   
}

@media (max-width: 900px) {
    h1, h2 {
        font-size: 70px;
    }
}

@media (max-width: 500px) {
    h1, h2 {
        font-size: 50px;
    }
}


h3{
  color: rgb(110, 7, 7);
  
  font-size: 35px;
 }

 @media (max-width: 900px) {
    h3 {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 15px;
    }
}
 h5{
  text-align: justify;
  font-size: 30px;
  font-weight: bold;
  color:rgb(104, 10, 10) ;

 }
 
 @media (max-width: 900px) {
    h5 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    h5 {
        font-size: 10px;
    }
}

h6{
  text-align: justify;
  font-weight: bold;
  font-size: 70px;
  color: rgb(10, 48, 104);
}

@media (max-width: 900px) {
    h6 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    h6{
        font-size: 30px;
    }
}
h7{
  text-align: justify;
  font-size: 70px;
  font-weight: bold;
  color:rgb(104, 10, 10) ;
  
  @media (max-width: 900px) {
    h7 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    h7{
        font-size: 30px;
    }
}
}
h8{
  
  font-size: 50px;
  font-weight: bold;
  color:rgb(104, 10, 10) ;
  margin-top: 30px;
  margin-bottom: 15PX;
 }

 @media (max-width: 900px) {
    h8 {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    h8 {
        font-size: 25px;
    }
}
 .card-title{
  text-align: justify;
  font-size: 30px;
  font-weight: bold;
  color:rgb(104, 10, 10) ;
 }

 @media (max-width: 900px) {
    .card-title {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .card-title {
        font-size: 15px;
    }
}
.progra{
    text-align: justify;
    font-size: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
   
}


@media (max-width: 900px) {
    .progra {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .progra {
        font-size: 15px;
    }
}
.mentor{
    text-align: justify;
    font-size: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
   
   }

   

      @media (max-width: 900px) {
     .mentor {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
     .mentor {
        font-size: 15px;
    }
}
.etapas{
  text-align: justify;
  font-size: 30px;
  color: rgb(10, 48, 104);
  font-weight: bold;
}

@media (max-width: 900px) {
    .etapas {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .etapas {
        font-size: 10px;
    }
}
 
 .links{
  font-size: 25px;
 }
 @media (max-width: 900px) {
    .links {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .links {
        font-size: 10px;
    }
}

   .mentoria{
    text-align: justify;
    font-size: 50px;
    font-weight: bold;
    color:rgb(110, 7, 7) ;
    margin-top: 40px;
    margin-bottom: 30px;
    
   }
   
   @media (max-width: 900px) {
    .mentoria {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .mentoria {
        font-size: 20px;
    }
}

   .intro{
    text-align: justify;
    font-size: 35px;
   
    margin-left: 120px;
    margin-right: 120px;
   
   }

   @media (max-width: 900px) {
    .intro {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .intro {
        font-size: 15px;
    }
}
   
.large{
  font-size: 15px;
}
@media (max-width: 900px) {
    .large {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .large {
        font-size: 10px;
    }
}

   .card-text{
    font-size: 20px;
    color: black;
   }
   @media (max-width: 900px) {
    .card-text {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .card-text {
        font-size: 15px;
    }
}

   img {
    max-width: 100%;
    height: auto;
}

.progra, .mentor, .intro {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .card {
        width: 50%;
        margin: 20px auto;
    }
}


@media (max-width: 767px) {
    .card {
        width: 90%;
        margin: 10px auto;
    }
}


@media (max-width: 480px) {
    .card {
        width: 100%;
        margin: 5px auto;
    }

    .card-body {
        font-size: 14px;
    }
}

.card-title{
  text-align: justify;
  font-size: 30px;
  font-weight: bold;
  color:rgb(104, 10, 10) ;
 }

 @media (max-width: 900px) {
    .card-title {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .card-title {
        font-size: 15px;
    }
}
